<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906950664146-mld3jrej0d4vhr6pttah4i9f83qs58an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906950664146-mld3jrej0d4vhr6pttah4i9f83qs58an</string>
	<key>API_KEY</key>
	<string>AIzaSyB2VGl_31j723lAAX8CkqcKLepmuVyla0s</string>
	<key>GCM_SENDER_ID</key>
	<string>906950664146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PosetoStudio.Tweet</string>
	<key>PROJECT_ID</key>
	<string>tweet-78463</string>
	<key>STORAGE_BUCKET</key>
	<string>tweet-78463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906950664146:ios:7994b8ceac74ad37dcf20b</string>
</dict>
</plist>